<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :class => 'form-stacked' }) do |f| %>
  <%= devise_error_messages! %>

  <fieldset>
    <legend>Forgot your password?</legend>
    <p><%= f.label :email %><br />
    <%= f.email_field :email %></p>
  </fieldset>

  <p><%= f.submit "Send me reset password instructions" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>