= form_for @input, :url => api_v1_inputs_path do |f|
  -if @input.errors.any?
    #error_explanation
      %h2= "#{pluralize(@input.errors.count, "error")} prohibited this input from being saved:"
      %ul
        - @input.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
