.processor_table{:id => 'processor_' + dom_id(input)}

  = form_for input, :url => api_v1_input_path(input), :html => {:class => 'well'}, :remote => true do |f|

    %h4.processor_table_title= "Processors for #{input.name}"
    %h4.edit_processor_table_title= "Edit processors for #{input.name}"

    %br

    %table.processors.table.table-bordered.table-condensed.table-striped
      %tbody{:id => 'processor_' + dom_id(input)}
        %tr
          %th.order &nbsp;
          %th.name Name
          %th.argument Argument
          %th &nbsp;

        - if input.processors.nil? || input.processors.empty?
          = render :partial => 'processor_row', :locals => {:id => '1'}
        - else
          - input.processors.each_with_index do |processor, idx|
            %tr{:id=>'processor_' + idx.to_s}
              %td= idx + 1
              %td= name_of_processor(processor)
              %td= argument_of_processor(processor)
              %td &nbsp;
          = render :partial => 'processor_row', :locals => {:id => (input.processors.size + 1).to_s}

    .form_controls
      = f.button 'Save', {:class => 'btn-primary control'}
      = link_to 'cancel', '#', {:class => 'cancel', :rel => 'nofollow'}
