- content_for :meta do
  %meta{ 'http-equiv'=>'refresh', :content=>'10' } 

%h1.title Listing inputs

%table.table.table-bordered.table-striped
  %tr
    %th Name
    %th Updated at
    %th Value
    %th Actions

  - @inputs.each do |input|
    %tr
      %td= input.name
      %td{:class => color_time_ago(input.updated_at)}= time_ago_in_words(input.updated_at, true)
      %td= input.last_value
      %td= link_to 'Destroy', api_v1_input_path(input), :confirm => 'Are you sure?', :method => :delete
      = render :partial => 'feeds', :locals => {:input => input}

%br

= link_to 'New Input', new_api_v1_input_path
