%h1.title Listing inputs

.row
  .span6
    %table.table.table-bordered.inputs
      %thead
        %tr
          %th.name Name
          %th.date Updated at
          %th.value Value
          %th.actions Actions
      %tbody
      - @inputs.each do |input|
        %tr.input{:id => dom_id(input)}
          %td= input.name
          %td{:class => color_time_ago(input.updated_at)}= time_ago_in_words(input.updated_at, true)
          %td= input.last_value
          %td
            = link_to 'Destroy', api_v1_input_path(input), :confirm => 'Are you sure?', :method => :delete

  .span6
    - @inputs.each do |input|
      = render :partial => 'processors', :locals => {:input => input}



%br

= link_to 'New Input', new_api_v1_input_path
  