.row
  .span6.columns.offset10
    .right
      - if current_user
        = current_user.email
        |
        = link_to 'Sign out', destroy_user_session_path, :method=>'delete'
        |
        = link_to 'Edit account', edit_user_registration_path
        - if current_user.admin?
          |
          = link_to 'Admin', rails_admin_path
      - else
        = link_to 'Sign in', user_session_path
        or
        = link_to 'Sign up', new_user_registration_path