<!DOCTYPE html>
%html
  %head
    %title EmonWeb

    / %link{:href=>'/images/logo.png', :rel=>'apple-touch-icon'}
    / %link{:href=>'/favicon.ico', :rel=>'shortcut icon'}
    = stylesheet_link_tag 'stylesheets/screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'stylesheets/print.css', :media => 'print'
    /[if IE]
      = stylesheet_link_tag 'stylesheets/ie.css', :media => 'screen, projection'
    = csrf_meta_tag

  %body
    = yield
