<!DOCTYPE html>
%html
  %head
    %meta{ :content => 'text/html; charset=utf-8', 'http-equiv' => 'Content-Type' }
    %meta{ :name => 'keywords', :content => 'energy monitor open source emonweb openenergymonitor' }
    %meta{ :name => 'description', :content => 'Open Energy Monitoring is a project to develop and build open-source energy monitoring, control and analysis tools for energy efficiency and distributed renewable generation.' }

    %title EmonWeb

    = stylesheet_link_tag    :application
    = javascript_include_tag :application
    = csrf_meta_tag

    / %link{:href=>'/images/logo.png', :rel=>'apple-touch-icon'}
    / %link{:href=>'/favicon.ico', :rel=>'shortcut icon'}

  %body
    .container
      = render :partial => 'layouts/topbar'

      .content
        = render :partial => 'layouts/flashes'
        = yield

    %footer.footer
      .container
        %p
          = link_to 'Open Energy Monitor', 'http://openenergymonitor.org'
          is a project to develop and build open-source energy monitoring, control and analysis tools for energy efficiency and distributed renewable generation.
