<!DOCTYPE html>
%html
  = render :partial => 'layouts/head'

  %body
    .container
      = render :partial => 'layouts/navbar'

      .content
        = render :partial => 'layouts/flashes'
        = yield

        = javascript_tag do
          = yield :javascripts

    %footer.footer
      .container
        %p
          = link_to 'Open Energy Monitor', 'http://openenergymonitor.org'
          is a project to develop and build open-source energy monitoring, control and analysis tools for energy efficiency and distributed renewable generation.
